twilio==5.7.0
pylint==1.7.1
phonenumberslite==8.3.2
ipython==7.16.3
flake8-docstrings==1.1.0
djoser==0.5.4
django-rest-auth==0.9.1
django-phonenumber-field==1.3.0
django-phone-confirmation==0.2.4
django-mobile-auth==0.2.4
django-extensions==1.7.7
django-allauth==0.32.0
